.content-wrapper {
  /* top menu */

  margin-top: 0 !important;

  .wrapper-course-material {
    .course-material {
      text-align: center;
      background: linear-gradient(to top, #64607B, #807D93);

      .course-tabs {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        height: 88px;
        padding: 0px !important;

        .tab {
          float: none !important;
          display: inline-block !important;

          a {
            padding-top: 32px;
            padding-bottom: 32px;
            color: #FFFFFF;
            font-size: 16px;
          }

          a.active, a:hover, a:focus, a:visited {
            color: #FFFFFF;
            border-bottom: 4px solid #85C9C3;
          }
        }
      }
    }
  }

  .course-tabs {
    justify-content: center;
    background: linear-gradient(to top, #64607B, #807D93);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: 88px;

    .mr-auto {
      margin-right: 0px !important;
    }

    .navbar-nav {
      height: 88px;
    }

    .nav-item {
      &.active, &:hover {
        .nav-link {
          color: #FFFFFF !important;
          border-bottom: 4px solid #85C9C3 !important;
        }
      }

      .nav-link {
        padding-top: 30px !important;
        padding-bottom: 30px !important;
        color: #FFFFFF;
        font-size: 16px !important;
      }
    }
  }

  /* carousel (horizontal nav bar) */

  .course-content {
    .sequence-nav-carousel {
      height: auto !important;

      .sequence-nav-button-carousel {
        height: 65px;
        width: 40px !important;
        max-width: none !important;
        min-width: 40px !important;
        background-color: #64607B;
        background-image: none;
        border: none;
        color: #ffffff;
        padding: 0px !important;
        position: relative;
        z-index: 2;
      }

      button, button:hover, button:focus {
        border: none !important;
        background-color: #64607B !important;
        color: #ffffff !important;
        box-shadow: none !important;
        outline-color: #64607B;

        .icon {
          color: #ffffff !important;
        }
      }

      .sequence-list-wrapper {
        overflow: hidden !important;
        background: linear-gradient(180deg, rgba(0,0,0,0) 32px, #6A6680 33px, rgba(0,0,0,0) 34px);

        ol {
          width: 19999px;

          li {
            border-top: none !important;
            border-right: none !important;
            max-width: 170px !important;

            .seq-item {
              .circle {
                margin: 0 auto;
                margin-top: 5px;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                border: 1px solid #FBE295;
                background-color: #FCF2DB;
                cursor: pointer;
                position: relative;
                z-index: 2;

                .icon {
                  display: inline-block;
                  line-height: 100%;
                  font-size: 150%;
                  margin-top: 12px;
                  margin-left: 10px;
                  color: #6A6680;
                }

                .fa-film {
                  margin-top: 13px;
                  margin-left: 12px;
                }

                .fa-book {
                  margin-top: 14px;
                  margin-left: 13px;
                }

                .fa-pencil-square-o {
                  margin-top: 15px;
                  margin-left: 14px;
                }

                .fa-tasks {
                  margin-top: 15px;
                  margin-left: 13px;
                }
              }

              .item-title {
                margin: 0 auto;
                margin-top: 10px;
                text-align: center;
                color: #64607b;
                cursor: pointer;
              }
            }

            .active {
              .circle {
                border: 1px solid #FCF2DB !important;
                background-color: #FBE295 !important;
              }

              .item-title {
                color: #1D7E96 !important;
                font-weight: bold !important;
              }
            }

            .completed {
              .circle {
                border: 1px solid #6A6680;
	            background-color: #D2D3DC;
              }

              .item-title {
                color: #64607b;
              }
            }
          }
        }
      }
    }

    /* bugfix default edx sequence-nav */

    .sequence-nav {
      .sequence-list-wrapper {
        overflow: hidden !important;

        ol {
          li {
            min-width: 20px !important;
          }
        }
      }
    }
  }

  /* breadcrumbs */

  .breadcrumbs {
    text-align: center;
    .nav-item a, .nav-item a:visited {
      color: #64607B;
    }
    .nav-item a:hover {
      text-decoration: underline !important;
      color: #64607B !important;
    }
    .nav-item-sequence {
      font-weight: bold;
      color: #85C9C3;
    }
  }
}

.chromeless {
  .course-content {
    display: block !important;
    width: 100% !important;
  }
}

.course-outline-container {
  border-right: rgba(100, 96, 123, .2) 1px solid;
  width: 965px;
  margin-top: 30px;
  display: table;

  .tile-container {
    display: inline-block;
    margin-right: 43px;

    .tile-body {
      width: 400px;
      background-color: #FAFBFB;
      box-shadow: 1px 0 5px 1px rgba(0, 0, 0, 0.1);
      padding-left: 24px;
      padding-top: 35px;
      margin-bottom: 43px;

      .icon-lable {
        width: 100%;
        height: 80px;

        .complete-label{
          background-color: #D2D3DC;
        }

        .in-progress-label{
          background-color: #FBE295;
        }

        .begin-label{
          background-color: #85C9C3;
        }

        .icon-place {
          height: 80px;
          width: 80px;
          border: 2px solid #6A6680;
          background-color: #D2D3DC;
          border-radius: 40px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }

        .status-lable {
          height: 30px;
          min-width: 110px;
          margin-left: 10px;

          .status-title {
            height: 17px;
            width: 110px;
            color: #FFFFFF;
            text-align: center;
            font-family: "Open Sans";
            font-size: 16px;
            line-height: 20px;
            padding: 5px 10px 5px 9px;
          }
        }

        .label-shadow {
          height: 12px;
          width: 17px;
          margin-left: 105px;
          background-color: #013A6B;
          background-image: -webkit-linear-gradient(135deg, #ffffff 50%, #888888 50%);
        }

      }

      .tile-title {
          width: 257px;
          color: #64607B;
          font-family: "Open Sans";
          font-size: 20px;
          font-weight: bold;
          line-height: 26px;
          margin-bottom: 18px;
          margin-top: 10px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          width: 350px;
        }

      .take-the-pre-program-survey-to {
          height: 39px;
          width: 336px;
          color: #64607B;
          font-family: "Open Sans";
          font-size: 16px;
          line-height: 22px;
          margin-bottom: 19px;
        }

      .get-started {
        height: 35px;
        width: 171px;
        background-color: #85C9C3;
        border-radius: 25px;
        cursor: pointer;

        .get-started-label {
          width: 100%;
          color: #FFFFFF;
          font-family: "Open Sans";
          font-size: 16px;
          line-height: 15px;
          text-align: center;
          padding: 9px 5px 12px 5px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }

      .gray-footer-line {
        height: 10px;
        width: 400px;
        background-color: #D2D3DC;
        margin-left: -24px;
        margin-top: 32px;
    }

    }

  }

  .outline-content {
    display: table;
    width: 891px;
    margin-top: 50px;

    .outline-item {
      width: 400px;
      display: inline-block;
      margin-right: 43px;
      margin-bottom: 43px;
      vertical-align: top;

      .outline-item-head {
        border-bottom: rgba(100, 96, 123, .2) 1px solid;
        width: 100%;
        height: 88px;

        .outline-check-status {
          height: 20px;
          width: 26px;
          color: #9EB29D;
          font-size: 30px;
          line-height: 18px;
          margin-top: 5px;
        }

        .complete-status {
          width: 45px;
          height: 45px;
          display: inline-block;
          float: left;
          margin-right: 15px;
          border-radius: 45px;
          text-align: center;
          color: #64607B;
          font-family: "Open Sans";
          font-size: 15px;
          line-height: 33px;

          .percent-status {
            position: absolute;
            margin-top: 6px !important;
            border-left-width: 7px;
            margin-left: 0px;
            margin-top: 5px;
            width: 55px;
            text-align: center;
          }

          .all-completed {
            position: absolute;
            border-left-width: 5px;
            margin-left: 10px;
            margin-top: 5px;
            padding-top: 5px;
          }

          .progress-ring__circle {
            transition: 0.5s stroke-dashoffset;
            transform: rotate(-90deg);
            transform-origin: 50% 50%;
          }

          .progress-ring {
            position: absolute;
          }
        }

        .outline-item-title {
          display: inline-block;
          height: 45px;
          float: left;
          max-width: 302px;

          .outline-item-display-name {
            color: #64607B;
            font-family: 'Open Sans';
            font-size: 20px;
            font-weight: bold;
            line-height: 24px;
          }

          .outline-num-chapters {
            height: 14px;
            width: 153px;
            color: #64607B;
            font-family: "Open Sans";
            font-size: 12px;
            line-height: 26px;
          }
        }

        .outline-item-expand {
          height: 9px;
          width: 20px;
          color: #D2D3DC !important;
          font-family: "Open Sans";
          font-weight: bold;
          text-align: center;
          float: right;

          button.accordion-trigger .fa {
            color: #D2D3DC !important;
          }
        }
      }

      .children-list {
        width: 100%;
        max-height: 229px;
        overflow-y: auto;

        .child-item {
          display: inline-block;
          width: 90%;
          cursor: pointer;

          .child-item-flag {
            width: 10px;
            height: 10px;
            border-radius: 10px;
            display: inline-block;
            margin-right: 5px;
            background: #D2D3DC;
            margin-bottom: 22px;
          }

          .item-complete-flag {
            background: #FBE295;
          }

          .child-item-name {
            color: #64607B;
            font-family: "Open Sans";
            font-size: 15px;
            line-height: 56px;
            display: inline-block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 300px;
          }

          .child-item-follow {
            display: inline-block;
            float: right;
            line-height: 56px;
            color: #D2D3DC;
          }
        }
      }

    }
  }

}

.outline-main-title {
        height: 46px;
        color: #64607B;
        font-family: "Open Sans";
        font-size: 46px;
        font-weight: bold;
        line-height: 52px;
        text-align: center;
    }
