## mako

<%page args="tags, icon, display_sort_block, short_title, nested_block, course_id" expression_filter="h" />
<%namespace name='static' file='/static_content.html'/>
<%!
from django.urls import reverse
%>

% if display_sort_block == 'y':
<div class="tags-all-skills">
    <div class="tags-block-title">All Skills</div>
    <div class="tags-block-see-all">
        <a href="javascript: void(0);" class="tags-block-see-all-link tags-block-see-all-part">Sort By <i class="fa fa-chevron-down tags-block-see-all-part" aria-hidden="true"></i></a>
        <div class="tags-all-skills-menu" aria-label="More" options="" role="menu" tabindex="-1">
            <a href="javascript: void(0);" class="tags-sort-link" data-sort-by="h2l" role="menuitem">Highest to Lowest</a>
            <a href="javascript: void(0);" class="tags-sort-link" data-sort-by="l2h" role="menuitem">Lowest to Highest</a>
            <a href="javascript: void(0);" class="tags-sort-link" data-sort-by="a2z" role="menuitem">A to Z</a>
            <a href="javascript: void(0);" class="tags-sort-link" data-sort-by="z2a" role="menuitem">Z to A</a>
        </div>
    </div>
    <div class="clear"></div>
</div>
% endif

<table class="tags-table tags-table-main ${'tags-table-nested' if nested_block == 'y' else ''}">
    % if icon == 'top5' or icon == 'lowest5':
    <tr>
        % if icon == 'top5':
        <td class="tags-percentage">
            <img src="${static.url('images/credo/top5skills.png')}" title="Top 5 Skills" width="85" height="85" />
        </td>
        <td class="tags-block-top5-title">
            <div class="tags-block-title">Top 5 Skills</div>
            <div class="tags-block-see-all"><a href="${current_url}?page=skills">See All</a></div>
            <div class="clear"></div>
        </td>
        % elif icon == 'lowest5':
        <td class="tags-percentage">
            <img src="${static.url('images/credo/lowest5skills.png')}" title="Lowest 5 Skills" width="85" height="85" />
        </td>
        <td class="tags-block-lowest5-title">
            <div class="tags-block-title">Lowest 5 Skills</div>
            <div class="tags-block-see-all"><a href="${current_url}?page=skills">See All</a></div>
            <div class="clear"></div>
        </td>
        % endif
    </tr>
    % endif
    % for tag in tags:
    <tr class="tags-table-block-item"
        data-percent-correct="${tag['percent_correct']}"
        data-label="${tag['tag_title_short'] if short_title == 'y' else tag['tag_title']}">
        <td class="tags-percentage">${tag['percent_correct']}%</td>
        <td class="tags-block-info">
            <div class="tags-block-info-data ${'tags-block-clickable' if tag['children'] else ''}"
                 data-percent-correct="${tag['percent_correct']}"
                 data-answers="${tag['answers']}"
                 data-label="${tag['tag_title']}"
                 data-description="${tag['tag_description']}">
                <div class="tags-block-info-title">
                    <div class="tags-block-info-name">${tag['tag_title_short'] if short_title == 'y' else tag['tag_title']}</div>
                    <div class="tags-block-info-chevron"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
                    <div class="clear"></div>
                </div>
                <div class="tags-block-progress">
                    % if tag['percent_correct'] > 50:
                    <div class="tags-block-progress-bar tags-block-progress-bar-more50"
                         style="width:${tag['percent_correct']}%;"></div>
                    % else:
                    <div class="tags-block-progress-bar tags-block-progress-bar-less50"
                         style="width:${tag['percent_correct']}%;"></div>
                    % endif
                </div>
            </div>
            % if tag['children']:
                <%include file="/courseware/extended_progress_tags_block.html" args="tags=tag['children'],icon='',display_sort_block='n',short_title='y',nested_block='y',course_id=course_id" />
            % endif
        </td>
    </tr>
    % endfor
</table>
