## mako

<%page args="assessments, course_id" expression_filter="h" />
<%namespace name='static' file='/static_content.html'/>
<%!
from django.urls import reverse
%>

<div class="progress-assessments-header">
    <div class="progress-assessments-title">Overall Grades by Assessment</div>
    % if course_id:
    <div class="progress-assessments-see-all"><a href="${reverse('progress', kwargs={'course_id': course_id})}?page=grades">See Grade Breakdown</a></div>
    % endif
    <div class="clear"></div>
</div>
<div class="progress-assessments-summary">
    <div class="progress-assessments-summary-block">
        <div class="progress-assessments-summary-block-number">${assessments['total_grade']}%</div>
        <div class="progress-assessments-summary-block-title">Total Grade</div>
    </div>
    <div class="progress-assessments-summary-block progress-assessments-summary-block-not-first">
        <div class="progress-assessments-summary-block-number">${assessments['best_grade']}%</div>
        <div class="progress-assessments-summary-block-title">Best Grade</div>
    </div>
    <div class="progress-assessments-summary-block progress-assessments-summary-block-not-first">
        <div class="progress-assessments-summary-block-number">${assessments['lowest_grade']}%</div>
        <div class="progress-assessments-summary-block-title">Lowest Grade</div>
    </div>
    <div class="progress-assessments-summary-block progress-assessments-summary-block-separator">
        <div class="progress-assessments-summary-block-number">${assessments['total_assessments']}</div>
        <div class="progress-assessments-summary-block-title">Total Assessments</div>
    </div>
    <div class="progress-assessments-summary-block progress-assessments-summary-block-not-first">
        <div class="progress-assessments-summary-block-number">${assessments['completed_assessments']}</div>
        <div class="progress-assessments-summary-block-title">Completed</div>
    </div>
    <div class="progress-assessments-summary-block progress-assessments-summary-block-not-first">
        <div class="progress-assessments-summary-block-number">${assessments['not_started_assessments']}</div>
        <div class="progress-assessments-summary-block-title">Not Started</div>
    </div>
</div>
<div class="progress-assessments-chart">
    <canvas id="assessmentsChart" height="150" width="600"></canvas>
</div>
<div class="progress-assessments-legend">
    <div class="progress-assessments-legend-block progress-assessments-legend-block-left">
        <i class="fa fa-square progress-assessments-legend-pass" aria-hidden="true"></i> Pass
    </div>
    <div class="progress-assessments-legend-block">
        <i class="fa fa-square progress-assessments-legend-fail" aria-hidden="true"></i> Fail
    </div>
</div>
