<%page expression_filter="h"/>
<%inherit file="/main.html" />
<%namespace name='static' file='/static_content.html'/>
<%def name="online_help_token()"><% return "progress" %></%def>
<%!
from course_modes.models import CourseMode
from lms.djangoapps.certificates.models import CertificateStatuses
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML, Text
from django.urls import reverse
from django.conf import settings
from django.utils.http import urlquote_plus
from six import text_type

from openedx.features.enterprise_support.utils import get_enterprise_learner_generic_name
%>

<%
username = get_enterprise_learner_generic_name(request) or student.username
%>

<%block name="bodyclass">view-in-course view-progress</%block>

<%block name="headextra">
<%static:css group='style-course-vendor'/>
<%static:css group='style-course'/>
<style type="text/css" media="print">
  body {
      width: 1400px;
  }
  @page {
      size: landscape;
  }
</style>
</%block>

<%block name="pagetitle">${_("{course_number} | My Skills").format(course_number=course.display_number_with_default)}</%block>

<%block name="js_extra">
<script type="text/javascript" src="${static.url('js/vendor/tooltipsy.min.js')}"></script>
<script type="text/javascript" src="${static.url('js/courseware/extended_progress.js')}"></script>
</%block>

<%include file="/courseware/course_navigation.html" args="active_page='progress'" />

<main id="main" aria-label="Content" tabindex="-1">
    <div class="container">
        <div class="profile-wrapper">
            <section class="course-progress-extended" id="course-info-progress">
                <div class="progress-header">
                    <div class="progress-header-text"><a href="${current_url}">My Skills</a> &rsaquo; Skills <div class="student-name">${student_name}</div></div>
                    <div class="progress-header-btn">
                        <a class="btn btn-primary print-progress-page" href="javascript: void(0);"><i class="fa fa-print" aria-hidden="true"></i> Print My Skills Report</a>
                    </div>
                </div>
                <div class="progress-block">
                    <div class="progress-tags-summary">
                        <%include file="/courseware/extended_progress_tags_block.html" args="tags=tags,icon='',display_sort_block='y',short_title='y',nested_block='n',course_id=course.id" />
                        <div class="clear"></div>
                    </div>
                </div>
                <div class="progress-tags-assessments">
                    <div class="progress-tags-assessments-main-block">
                    <div class="progress-assessments-header">
                        <div class="progress-assessments-cell progress-assessments-cell-head-title skill">
                            <a class="progress-assessments-cell-head-link progress-assessments-cell-head-link-title" data-order-by="title" data-order-by-type="str" href="javascript: void(0);">Skill</a>
                        </div>
                        <div class="progress-assessments-cell progress-assessments-cell-head-title answers-submitted">
                            <a class="progress-assessments-cell-head-link progress-assessments-cell-head-link-answers" data-order-by="answers" data-order-by-type="int" href="javascript: void(0);">Answers Submitted</a>
                        </div>
                        <div class="progress-assessments-cell progress-assessments-cell-head-title average-performance">
                            <a class="progress-assessments-cell-head-link progress-assessments-cell-head-link-percent-correct" data-order-by="percent-correct" data-order-by-type="int" href="javascript: void(0);">Average Performance<i class="fa fa-chevron-down header-icon progress-assessments-cell-head-icon" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="progress-assessments-body" data-current-order-by="percent-correct">
                        % for tag in tags_assessments:
                        <div class="progress-tags-assessments-item"
                             data-title="${tag['tag_title']}"
                             data-answers="${tag['answers']}"
                             data-percent-correct="${tag['percent_correct']}">
                            <div class="progress-tags-assessments-item-header">
                                <div class="progress-assessments-cell skill">
                                    <a href="javascript: void(0);" data-block-type="assessments" class="progress-assessments-expand-link"><i class="fa fa-chevron-right header-icon" aria-hidden="true"></i>${tag['tag_title']}</a>
                                </div>
                                <div class="progress-assessments-cell answers-submitted">${tag['answers']}</div>
                                <div class="progress-assessments-cell average-performance">${tag['percent_correct']}%</div>
                            </div>
                            <div class="progress-tags-assessments-item-assessments closed">
                                <div class="progress-tags-assessments-item-subheader">
                                    <div class="progress-assessments-cell skill">Assessment</div>
                                    <div class="progress-assessments-cell answers-submitted"></div>
                                    <div class="progress-assessments-cell average-performance">Average Performance</div>
                                </div>
                                % for section in tag['sections']:
                                <div class="progress-tags-assessments-item-assessment">
                                    <div class="progress-tags-assessments-item-assessment-header">
                                        <div class="progress-assessments-cell skill">
                                            <a href="javascript: void(0);" data-block-type="questions" class="progress-assessments-expand-link"><i class="fa fa-chevron-right header-icon" aria-hidden="true"></i>${section['display_name']}</a>
                                        </div>
                                        <div class="progress-assessments-cell answers-submitted">${section['answers']}</div>
                                        <div class="progress-assessments-cell average-performance">${section['percent_correct']}%</div>
                                    </div>
                                    <div class="progress-tags-assessments-item-assessment-questions closed">
                                        % for problem in section['problems']:
                                        <div class="progress-tags-assessments-item-assessment-question">
                                            <table class="seq-grade-details-item-table">
                                            <tbody>
                                            <tr>
                                            <td class="seq-grade-details-item-block-icon">
                                                % if problem['correctness'] == 'Not Answered':
                                                <img src="${static.url('images/credo/question_unanswered.png')}" width="24" height="24"
                                                     alt="${problem['correctness']}" title="${problem['correctness']}">
                                                % elif problem['correctness'] == 'Incorrect':
                                                <img src="${static.url('images/credo/question_incorrect.png')}" width="25" height="25"
                                                     alt="${problem['correctness']}" title="${problem['correctness']}">
                                                % else:
                                                <img src="${static.url('images/credo/question_correct.png')}" width="25" height="25"
                                                     alt="${problem['correctness']}" title="${problem['correctness']}">
                                                % endif
                                            </td>
                                            <td class="seq-grade-details-item-block-content">
                                                <div class="seq-grade-details-item-block-content-header">${problem['display_name']}</div>
                                                % if problem['question_text']:
                                                <div class="seq-grade-details-item-block-content-text">${problem['question_text'] | n}</div>
                                                % endif
                                                <div class="seq-grade-details-item-block-content-header">Answer: ${problem['correctness']}</div>
                                                % if problem['answer']:
                                                <div class="seq-grade-details-item-block-content-text">${problem['answer']}</div>
                                                % endif
                                            </td>
                                            <td class="seq-grade-details-item-block-points">${problem['earned']}/${problem['possible']}</td>
                                            </tr>
                                            </tbody>
                                            </table>
                                        </div>
                                        % endfor
                                    </div>
                                </div>
                                % endfor
                            </div>
                        </div>
                        % endfor
                    </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>
