<%page expression_filter="h"/>
<%!
  from django.utils.translation import pgettext, ugettext as _
  from django.conf import settings
%>
<%! from django.utils.text import wrap %>

<div id="sequence_${element_id}" class="sequence" data-id="${item_id}"
     data-position="${position}"
     data-next-url="${next_url}" data-prev-url="${prev_url}"
     data-save-position="${'true' if save_position else 'false'}"
     data-show-completion="${'true' if show_completion else 'false'}"
     data-return-to-course-outline="${after_finish_return_to_course_outline}"
     data-course-id="${course_id}"
     data-lms-url-to-get-grades="${lms_url_to_get_grades}"
     data-lms-url-to-email-grades="${lms_url_to_email_grades}"
     data-lms-url-to-issue-badge="${lms_url_to_issue_badge}"
     data-graded=${"1" if graded else "0"}
     data-show-summary-info-after-quiz=${"1" if show_summary_info_after_quiz else "0"}
     data-units-sequential-completion=${"1" if units_sequential_completion else "0"}
     data-disable-units-after-completion=${"1" if disable_units_after_completion else "0"}
     data-badge-id=${"1" if badge_id else "0"}
     data-correct-icon="${summary_info_imgs['correct_icon']}"
     data-incorrect-icon="${summary_info_imgs['incorrect_icon']}"
     data-unanswered-icon="${summary_info_imgs['unanswered_icon']}"
>
  % if graded and show_summary_info_after_quiz:
  <div id="get-score-modal" class="modal scores-modal" tabindex="-1" role="dialog">
    <div class="inner-wrapper">
      <button class="close-modal">
        <span class="icon fa fa-remove" aria-hidden="true"></span>
        <span class="sr">${_("Close")}</span>
      </button>
        <div class="seq-grade-block" id="seq-grade-block">
            <div class="seq-main-block">
              <div class="seq-left-panel">
                <div class="seq-lesson-completion">
                  <div class="seq-finish-icon">
                    <img src="${summary_info_imgs['assessment_done_img']}" />
                  </div>
                  <div class="seq-finish-text">
                    <div class="seq-finish-text-header">LESSON COMPLETION</div>
                    <div class="seq-finish-text-congratulations"><strong>Congratulations, </strong>you have now completed the assessment. You may return to the assessment to answer any un-submitted questions and obtain your score again.</div>
                    <div class="seq-finish-text-congratulations">To email your results to yourself or your instructor, please enter the email address(es) of the recipient(s) in the box below. If there are multiple addresses please separate them with a comma.</div>
                    <div class="seq-email">
                      <div class="email-box">
                        <i class="email-icon fa fa-envelope-o" aria-hidden="true"></i>
                        <input type="text" maxlength="255" class="email-assessment"
                               name="email-assessment" id="email-assessment" value="">
                      </div>
                      <div class="email-box-button"><button class="send-email-btn btn btn-pl-primary">Email My Results</button></div>
                    </div>
                    <div class="email-error"></div>
                    <div class="email-success">Email was successfully sent</div>
                  </div>
                </div>
                <div class="seq-grade-comment">
                  <div class="seq-grade-description">Some instructors may require this step for you to receive credit for your work. If you are not sure, email your results to yourself, and check with your instructor. Make sure to check your email's Spam or Junk folder.</div>
                  <div class="seq-grade-description">Make sure to complete this step before navigating away from the quiz in your browser. If you try to re-open this page, you will not be able to return to this screen.</div>
                  <div class="seq-grade-description">By providing these email addresses, you are granting Credo permission to share your score results on this assessment with the recipients listed.</div>
                </div>
                <div class="seq-grade-details">
                  <div class="seq-grade-details-summary">
                    <div class="seq-grade-details-total-score">
                      <div class="seq-grade-details-total-score-num"></div>
                      <div class="seq-grade-details-total-score-text">TOTAL SCORE</div>
                    </div>
                    <div class="seq-grade-details-total-points">
                      <div class="seq-grade-details-total-points-num"></div>
                      <div class="seq-grade-details-total-points-text">POINTS</div>
                    </div>
                  </div>
                  <div class="seq-grade-details-questions">
                    <div class="seq-grade-details-questions-title seq-grade-details-quiz-name"></div>
                    <div class="seq-grade-details-questions-title seq-grade-details-last-answer-timestamp"></div>
                    <div class="seq-grade-details-items"></div>
                  </div>
                </div>
              </div>
              <div class="seq-right-panel">
                <div class="seq-grade-description seq-grade-description-active">Some instructors may require this step for you to receive credit for your work. If you are not sure, email your results to yourself, and check with your instructor. Make sure to check your email's Spam or Junk folder.</div>
                <div class="seq-grade-description">Make sure to complete this step before navigating away from the quiz in your browser. If you try to re-open this page, you will not be able to return to this screen.</div>
                <div class="seq-grade-description">By providing these email addresses, you are granting Credo permission to share your score results on this assessment with the recipients listed.</div>
              </div>
            </div>
        </div>
    </div>
  </div>
  % endif

  % if badge_id:
  <div id="get-badge-modal" class="modal badge-modal" tabindex="-1" role="dialog">
    <div class="inner-wrapper">
        <button class="close-modal">
        <span class="icon fa fa-remove" aria-hidden="true"></span>
        <span class="sr">${_("Close")}</span>
        </button>
        <div class="badge-block" id="badge-block">
            <div class="badge-main-block">
              <div class="badge-loading">Please wait while we grab your badge!</div>
              <div class="badge-info-block" style="display: none;">
                  <div class="badge-issuer-logo"><img src="${logo_url}" style="height: 40px;" /></div>
                  <div class="badge-congrat">Congratulations, you earned a badge!</div>
                  <div class="badge-img"></div>
                  <div class="badge-title"></div>
                  <div class="badge-description"></div>
                  <hr />
                  <div class="badge-issuer-info">
                      <div class="badge-issued-by-txt">Issued by:</div>
                      <div class="badge-issued-by-logo"><a href="#" target="_blank" class="badge-issued-by-link"></a></div>
                  </div>
                  <div class="badge-buttons">
                      <a class="btn btn-primary badge-go-to-badgr" href="#" target="_blank">Go To Badgr Account</a>
                  </div>
                  <div class="badge-notification"><a href="#" class="badge-notification-link" target="_blank">View your badge on Badgr for sharing options.</a></div>
              </div>
            </div>
        </div>
    </div>
  </div>
  % endif


  % if not exclude_units:

  % if banner_text:
    <div class="pattern-library-shim alert alert-information subsection-header" role="note" tabindex="-1">
      <span class="pattern-library-shim icon alert-icon fa fa-info-circle" aria-hidden="true"></span>
      <span class="sr">${_('Important!')}&nbsp;</span>
      <div class="pattern-library-shim alert-message">
        <p class="pattern-library-shim alert-copy">
          ${banner_text}
        </p>
      </div>
    </div>
  % endif
  % endif

  % if not gated_sequence_paywall:
  <div class="sequence-nav">
    <button class="sequence-nav-button button-previous">
      <span class="icon fa fa-chevron-prev" aria-hidden="true"></span>
      ## Translators: A button for showing the Previous Unit
      <span class="sequence-nav-button-label">${pgettext('unit', 'Previous')}</span>
    </button>
    <button class="sequence-nav-button button-next">
      ## Translators: A button for showing the Next Unit
      <span class="sequence-nav-button-label">${pgettext('unit', 'Next')}</span>
      <span class="icon fa fa-chevron-next" aria-hidden="true"></span>
    </button>
    <nav class="sequence-list-wrapper" aria-label="${_('Sequence')}">
      <ol id="sequence-list" role="tablist">
        % if gated_content['gated']:
        <li>
          <button class="active nav-item tab" title="${_('Content Locked')}" id="tab_0" role="tab" tabindex="-1" aria-selected="true" aria-expanded="true" aria-controls="content_locked" disabled>
            <span class="icon fa fa-lock" aria-hidden="true"></span>
          </button>
        </li>
        % else:
        % for idx, item in enumerate(items):
        <li role="presentation">
          <button class="seq_${'lock' if item['lock'] else item['type']} inactive nav-item tab"
            % if disable_units_after_completion and 'complete' in item and item['complete']:
            style="cursor: default"
            % endif
            role="tab"
            tabindex="-1"
            aria-selected="false"
            aria-expanded="false"
            aria-controls="seq_content"
            data-index="${idx}"
            data-id="${item['id']}"
            data-element="${idx+1}"
            data-page-title="${item['page_title']}"
            data-path="${item['path']}"
            data-graded="${item['graded']}"
            data-type="${item['type']}"
            % if item.get('href'):
            data-href="${item['href']}"
            % endif
            id="tab_${idx}">
            <span class="icon fa seq_${item['type']}" aria-hidden="true"></span>
            % if 'complete' in item:
              <span class="check-circle ${"is-hidden" if not item['complete'] else ""}">
                <span
                  class="fa fa-check-circle"
                  style="color:green"
                  aria-hidden="true"
                ></span>
              </span>
              % if item['complete']:
                <span class="sr">${_("Completed")}</span>
              %endif
            % endif
            <span class="bookmark-icon ${"is-hidden" if not item['bookmarked'] else "bookmarked"}">
              <span class="fa fa-fw fa-bookmark" aria-hidden="true"></span>
            </span>
            <div class="sequence-tooltip sr"><span class="sr">${item['type']}&nbsp;</span>${item['page_title']}<span class="sr bookmark-icon-sr">&nbsp;${_("Bookmarked") if item['bookmarked'] else ""}</span></div>
          </button>
        </li>
        % endfor
        % endif
        % if exclude_units:
        <li role="presentation">
          <button class="seq_new_button inactive xnav-item tab"
            role="tab"
            tabindex="-1"
            aria-selected="false"
            aria-expanded="false"
            aria-controls="seq_content"
            data-parent="${item_id}"
            data-category="vertical"
            data-default-name="${_('Unit')}"
          >
          <span
                class="fa fa-plus"
                aria-hidden="true"
          ></span> New Unit
        </button>
        </li>
        % endif
      </ol>
    </nav>
  </div>
  % endif

  % if not exclude_units:
  % if gated_content['gated']:
    <%include file="_gated_content.html" args="prereq_url=gated_content['prereq_url'], prereq_section_name=gated_content['prereq_section_name'], gated_section_name=gated_content['gated_section_name']"/>
  % elif gated_sequence_paywall:
    <h2 class="hd hd-2 unit-title">
        ${sequence_name}<span class="sr">${_("Content Locked")}</span>
    </h2>
    ${gated_sequence_paywall | n, decode.utf8}
  % else:
  <div class="sr-is-focusable" tabindex="-1"></div>
  % if settings.FEATURES.get("SHOW_PROGRESS_BAR", False) and getattr(settings, 'COMPLETION_AGGREGATOR_URL', ''):
    <div class="progress-container">
      <iframe id="progress-frame" style="border: none; width: 100%; height: 70px;" src="${chapter_completion_aggregator_url}"></iframe>
    </div>
  % endif

  % for idx, item in enumerate(items):
  <div id="seq_contents_${idx}"
    aria-labelledby="tab_${idx}"
    aria-hidden="true"
    class="seq_contents tex2jax_ignore asciimath2jax_ignore">
    ${item['content']}
  </div>
  % endfor
  <div id="seq_content" role="tabpanel"></div>
  % endif
% else:
  <div id="seq_content" role="tabpanel"></div>
% endif

% if not exclude_units:
  <nav class="sequence-bottom" aria-label="${_('Section')}">
    <button class="sequence-nav-button button-previous">
      <span class="icon fa fa-chevron-prev" aria-hidden="true"></span>
      ## Translators: A button for showing the Previous Unit
      <span>${pgettext('unit', 'Previous')}</span>
    </button>
    <button class="sequence-nav-button button-next">
      ## Translators: A button for showing the Next Unit
      <span>${pgettext('unit', 'Next')}</span>
      <span class="icon fa fa-chevron-next" aria-hidden="true"></span>
    </button>
  </nav>
</div>
% endif
